
<h1>Angular Router App test new repository</h1>
<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<nav>
  <ul>
    <li><a routerLink="login" >Home</a></li>
    <li><a routerLink="dashboard" routerLinkActive="active">Chi siamo</a></li>
    <li><a routerLink="users" >Servizi</a></li>
    <li><a routerLink="usersold">Portfolio</a></li>
    <li><a routerLink="usersold">Contattaci</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>