<div class="sliderContainer ">
    <div class="sliderContainer__dark xx-zi-0"></div>
    <div class="containerFull xx-zi-1">
        <div class="headerContainer containerMaxWidth">
            <div class="header">
                <div class="header__left">
                    <h4 class="xx-font-24 xx-text-white xx-m-0 xx-font-robotoc xx-m-top-40">Benvenuto su ONEXTWEB</h4>
                    <h2 class="xx-font-80 xx-text-white xx-m-0 xx-font-lato xx-m-top-15">Diamo forma <br> Alle tue idee</h2>
                    <div class="header__left__footer">
                        <div class="header__left__footer__left">
                            <div class="header__left__footer__contain__icon"></div>
                            <div class="header__left__footer__contain__label">
                                <h4 class="xx-font-18 xx-text-white xx-m-0 xx-font-robotoc">Ottimo rapporto qualità prezzo</h4>
                            </div>
                        </div>
                        <div class="header__left__footer__right">
                            <div class="header__left__footer__contain__icon"></div>
                            <div class="header__left__footer__contain__label"></div>
                        </div>
                    </div>
                </div>
                <div class="header__right">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="services xx-h-500 xx-bg-black"></div>