<div class="sliderContainer ">
    <div class="sliderContainer__dark xx-zi-0"></div>
    <div class="containerFull xx-zi-1">
        <div class="headerContainer containerMaxWidth">
            <div class="header">
                <div class="header__left">
                    <h4 class="xx-font-24 xx-text-white xx-m-0 xx-font-robotoc xx-m-top-40">Benvenuto su ONEXTWEB </h4>
                    <h2 class="xx-font-80 xx-text-white xx-m-0 xx-font-lato xx-m-top-15">Diamo forma <br> alle tue idee
                    </h2>
                    <div class="header__left__footer">
                        <div class="header__left__footer__left">
                            <div class="header__left__footer__contain__line">
                                <div class="header__left__footer__contain__line__contain"></div>
                            </div>
                            <div class="header__left__footer__contain__icon">
                                <img src="/assets/home/Icon material-attach-money.svg"
                                    class="header__left__footer__contain__icon__contain">
                            </div>
                            <div class="header__left__footer__contain__label">
                                <h4 class="xx-font-18 xx-text-white xx-m-0 xx-font-lato">Ottimo rapporto <br /> qualità
                                    prezzo</h4>
                            </div>
                        </div>
                        <div class="header__left__footer__right">
                            <div class="header__left__footer__contain__line">
                                <div class="header__left__footer__contain__line__contain"></div>
                            </div>
                            <div class="header__left__footer__contain__icon">
                                <img src="/assets/home/Icon material-business.svg"
                                    class="header__left__footer__contain__icon__contain">

                            </div>
                            <div class="header__left__footer__contain__label">
                                <h4 class="xx-font-18 xx-text-white xx-m-0 xx-font-lato">Ottimizzati per ogni <br />
                                    tipologia di business</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__right">
                    <div class="headerForm">
                        <div class="headerForm__head xx-font-lato xx-font-24">
                            <h4 class="xx-m-0 xx-p-15">Raccontaci il tuo progetto</h4>
                        </div>
                        <mat-grid-list cols="1" rowHeight="4:1">

                            <mat-grid-tile >
                                <mat-form-field class="xx-wp-90">
                                    <mat-label>Nome e cognome:</mat-label>
                                    <input matInput placeholder="Inserisci nome e cognome" value="">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field class="xx-wp-90">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Inserisci l'email" value="">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field class="xx-wp-90">
                                    <mat-label>Telefono</mat-label>
                                    <input matInput placeholder="Inserisci il telefono" value="">
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <mat-form-field class="xx-wp-90">
                                    <mat-label>Budget</mat-label>
                                    <input matInput placeholder="Inserisci il budget" value="">
                                </mat-form-field>
                            </mat-grid-tile>


                            <mat-grid-tile>

                                <mat-form-field class="xx-wp-90">
                                    <mat-label>Descrizione progetto</mat-label>
                                    <textarea matInput placeholder="Inserisci la descrizione del progetto"></textarea>
                                </mat-form-field>
                            </mat-grid-tile>

                            <mat-grid-tile>
                                <button class="xx-button-secondary xx-wp-90">Invia</button>
                            </mat-grid-tile>
                        </mat-grid-list>




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="services xx-minh-500 xx-bg-black">
    <div class="containerFull">
        <div class="containerMaxWidth xx-p-top-20 xx-p-bottom-20">
            <mat-grid-list cols="{{servicesCols}}">
                <mat-grid-tile>
                   
                    <div class="services__header">
                        <div class="services__header__subtitle">
                            <span>
                                <img src="/assets/home/arrow_right_blue.svg" class="xx-m-right-15"> <span
                                    class="xx-font-robotoc xx-font-14 xx-text-white"> La nostra compagnia</span>
                            </span>
                        </div>
                        <div class="services__header__title">
                            <h4 class="xx-font-robotoc xx-font-40 xx-text-primary">La passione per il web</h4>
                        </div>
                        <div class="services__header__description">
                            <p class="xx-font-lato xx-font-16 xx-text-white">Onextweb specializzata nella realizzazione di siti
                                web dinamici e responsive tramite moderne tecniche di programmazione: HTML5 , CSS3 , PHP/Mysql,
                                React o tramite il famoso CMS Wordpress. <br /><br /> Con oltre 4 anni di esperienza in ambito
                                web siamo in grado di offrire un servizio completo per qualsiasi realtà aziendale nascente od
                                esistente che sia.</p>
                        </div>
                        <div class="services__header__vision">
                            <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile>
        
                                    <img src="/assets/home/step.svg" class="xx-m-right-15">
                                    <span>
                                        <span class="xx-font-robotoc xx-font-14 xx-text-white">Mission</span>
                                        <span class="xx-font-robotoc xx-font-14 xx-text-white">Progettare un sito facile da
                                            gestire e che soddisfi le esigenze del cliente</span>
                                    </span>
                                </mat-grid-tile>
                                <mat-grid-tile>
        
                                    <img src="/assets/home/eye.svg" class="xx-m-right-15">
                                    <span>
                                        <span class="xx-font-robotoc xx-font-14 xx-text-white">Vision</span>
                                        <span class="xx-font-robotoc xx-font-14 xx-text-white">Capire le esigenze del cliente
                                            per valutare la miglior soluzione a lungo termine.</span>
                                    </span>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                 
                </div>
                </mat-grid-tile>
            </mat-grid-list>

            
            <div class="services__our">

                <div class="text-center">
                    <img src="/assets/home/arrow_right_blue.svg" class="xx-m-right-15"> <span
                        class="xx-font-robotoc xx-font-14 xx-text-white">Noi offriamo i seguenti servizi</span>
                    <h4 class="xx-font-robotoc xx-font-40 xx-text-primary">Tutti i nostri Servizi</h4>

                </div>

                <div>

                    
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of
                        dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
                        was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of
                        dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
                        was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-lg-4 col-md-6  col-sm-12">

            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of
                        dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu
                        was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>




                </div>
            </div>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12">t4rt44</div>
        <div class="col-lg-6 col-md-12">464565645</div>
    </div>
</div>
