.sliderContainer{
  width:100%;
  display: block;
  height:570px;
  background: url("/assets/home/shanghai-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}