@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* library*/

$prefix: ".xx";

/* color*/

$var-primary:#0090DF;//PRINCIPALE
$var-primary-dark:#02496F;
$var-secondary:#FF3690;
$var-secondary-light:#D56491;

$var-trasparence: rgba(0, 0, 0, 0);
$var-white:  #fff;
$var-black: #000;
$var-disabled: #ecebed;
$var-light-grey:#EFEFEF;
$var-grey: #909090;
$var-dark: #212529;

$var-success: #b0bc0d;
$var-success-light: #c7d055;
$var-success-dark: #7b8309;
$var-danger: #dc3545;
$var-danger-light: #e4606d;
$var-danger-dark: #991a27;
$var-warning: #ecac00;
$var-warning-light: #f3cd66;
$var-warning-dark: #bc8900;

/* font*/
$var-font-family: 'Roboto Condensed', sans-serif;
$var-secondary-font-family:'Lato', sans-serif;

/* shadows*/
$var-box-shadow: 0 0.125rem 0.25rem rgba(14, 12, 12, 0.1);

/* le seguenti classi generate vengono richiamate con il prefisso .xx */

#{$prefix} {

    &-font-robotoc{
      font-family: $var-font-family;
    }
    &-font-lato{
      font-family:$var-secondary-font-family;
    }

    /* COLOR TEXT */
    &-text-primary {
        color: $var-primary;
    }
    &-text-secondary {
        color: $var-secondary;
    }
    &-text-white {
      color: $var-white;
   }
   /* background  */
   &-bg-primary {
    background-color: $var-primary;
    }
    &-bg-secondary {
      background-color: $var-secondary;
    }
    &-bg-white {
      background-color: $var-white;
    }
    &-bg-black{
      background-color: $var-black;
    }



    /* FONT */
    &-font-12 {
        font-size: 12px;
    }
    &-font-14 {
        font-size: 14px;
    }
    &-font-16 {
        font-size: 16px;
    }
    &-font-18 {
      font-size: 18px;
  }
    &-font-20 {
        font-size: 20px;
    }
    &-font-22 {
        font-size: 22px;
    }
    &-font-24 {
      font-size: 24px;
  }
    &-font-30 {
        font-size: 30px;
    }
    &-font-40 {
        font-size: 40px;
    }
    &-font-80 {
      font-size: 80px;
  }


    &-font-thin {
        font-weight: 300;
    }
    &-font-light {
        font-weight: 400;
    }
    &-font-regular {
        font-weight: 500;
    }
    &-font-semi-bold {
        font-weight: 700;
    }
    &-font-bold {
        font-weight: 800;
    }
    &-font-black {
        font-weight: 900;
    }
    
    &-button-secondary{
       background-color:$var-secondary-light;
       border: 0;
       color:white;
       padding: 15px;
       font-size: 22px;
       font-family: lato;
       border-radius: 5px;
       &:hover{
         background-color: $var-secondary;
       }
    }

    /* Alignments */
    &-text {
        &-center {
            text-align: center;
        }
        &-left {
            text-align: left;
        }
        &-right {
            text-align: right;
        }
    }
    /* letter spacing */
      /*letter spacing example:rr-ls-2*/
      @for $i from 1 through 10 {
        &-ls-#{$i * 1} {
          letter-spacing: $i * 1px ;
        }
      }
    
      /*height*/
      @for $i from 1 through 15 {
        &-h-#{$i * 50} {
          height: $i * 50px ;
        }
      }
    
      /*min height*/
      @for $i from 1 through 10 {
        &-minh-#{$i * 50} {
          min-height: $i * 50px ;
        }
      }
    
       /*max-height */
       @for $i from 1 through 15 {
        &-mh-#{$i * 50} {
          max-height: $i * 50px ;
        }
      }
    
      /*width*/
      @for $i from 1 through 15 {
        &-w-#{$i * 50} {
          width: $i * 50px ;
        }
      }
    
      /*min width*/
      @for $i from 1 through 10 {
        &-minw-#{$i * 50} {
          min-width: $i * 50px ;
        }
      }
    
      /*max width*/
      @for $i from 1 through 15 {
        &-mw-#{$i * 50} {
          max-width: $i * 50px ;
        }
      }


      @for $i from 1 through 10 {
        &-wp-#{$i * 10} {
          width: $i * 10% ;
        }
      }


      @for $i from 0 through 15 {
        &-p-#{$i * 5} {
          padding: $i * 5px ;
        }
      }

      $directions: top,
      right,
      bottom,
      left;
      @each $side in $directions {
          @for $i from 0 through 10 {
              &-p-#{$side}-#{$i *5} {
                  padding-#{$side}: $i * 5px ;
              }
          }
      }

      @for $i from 0 through 15 {
        &-m-#{$i * 50} {
          margin: $i * 5px ;
        }
      }
    
      $directions: top,
      right,
      bottom,
      left;
      @each $side in $directions {
          @for $i from -15 through 15 {
              &-m-#{$side}-#{$i * 5} {
                  margin-#{$side}: $i * 5px ;
              }
          }
      }

      /*z-index */
      @for $i from 1 through 15 {
        &-zi-#{$i * 1} {
          z-index: $i * 1 ;
        }
      }

    

    @media only screen and (max-width: 991px) {
 
        @for $i from 5 through 24 {
           &-font-size-md-#{$i * 2} {
                   font-size: $i * 2px ;
           }
       }
     
    }
}


/* Reset*/
body{
    padding: 0;
    margin:0;
}



/* Generic class*/

.containerFull{
    width: 100%;
}

.containerMaxWidth{
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   padding-right: 10px;
}


.d-flex{
  display: flex;
}

.d-block{
  display: flex;
}

.align-object-left{
  justify-content: left;
}

.align-object-right{
  justify-content: right;
}

.align-object-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

