<nav class="navbar containerFull">
  <div class="containerMaxWidth">
    <div class="navbar__logo">
      <img src="/assets/home/logo.svg" style="width: 200px; height: 100px;">
    </div>
    <div class="navbar__menu">
      <ul>
        <li>
          <a routerLink="home" class="xx-font-16" routerLinkActive="active">
            <span class="navbar__menu_label">Home</span>
            <span class="navbar__menu_line"></span>
          </a>
        </li>
        <li><a routerLink="whoweare" class="xx-font-16" routerLinkActive="active">

            <span class="navbar__menu_label">Chi siamo</span>
            <span class="navbar__menu_line"></span>
          </a></li>
        <li><a routerLink="services" class="xx-font-16" routerLinkActive="active">
            <span class="navbar__menu_label">Servizi</span>
            <span class="navbar__menu_line"></span>

          </a></li>
        <li><a routerLink="portfolio" class="xx-font-16" routerLinkActive="active">

            <span class="navbar__menu_label">Portfolio</span>
            <span class="navbar__menu_line"></span>
          </a></li>
        <li><a routerLink="contact" class="xx-font-16" routerLinkActive="active">

            <span class="navbar__menu_label">Contattaci</span>
            <span class="navbar__menu_line"></span>
          </a></li>
      </ul>
    </div>
  </div>
</nav>