<nav class="navbar containerFull">
  <div class="containerMaxWidth">
    <div class="navbar__logo">
      <img src="/assets/home/logo.svg" class="navbar__logo__img" >
    </div>
    <div class="navbar__menu xx-font-lato xx-font-16">
      <ul>
        <li>
          <a routerLink="home"  routerLinkActive="active">
            <span class="navbar__menu_label">Home</span>
            <span class="navbar__menu_line"></span>
          </a>
        </li>
        <li><a routerLink="whoweare"  routerLinkActive="active">

            <span class="navbar__menu_label">Chi siamo</span>
            <span class="navbar__menu_line"></span>
          </a></li>
        <li><a routerLink="services" routerLinkActive="active">
            <span class="navbar__menu_label">Servizi</span>
            <span class="navbar__menu_line"></span>

          </a></li>
        <li><a routerLink="portfolio"  routerLinkActive="active">

            <span class="navbar__menu_label">Portfolio</span>
            <span class="navbar__menu_line"></span>
          </a></li>
        <li><a routerLink="contact" routerLinkActive="active">

            <span class="navbar__menu_label">Contattaci</span>
            <span class="navbar__menu_line"></span>
          </a></li>
      </ul>
    </div>
  </div>
</nav>