<nav class="navbar containerFull">
  <div class="containerMaxWidth">
    <div class="navbar__logo">
      <img src="/assets/home/logo.svg" style="width: 200px; height: 100px;">
    </div>
    <div class="navbar__menu">
      <ul>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="whoweare" >Chi siamo</a></li>
        <li><a routerLink="services" >Servizi</a></li>
        <li><a routerLink="portfolio">Portfolio</a></li>
        <li><a routerLink="contact">Contattaci</a></li>
      </ul>
    </div>
  </div>
</nav>